# Editor directories and files
.git

# Google Drive
.tmp.driveupload

# MCU Software/.vs
MCU Software/libraries/ArduinoCore/Debug
MCU Software/project/Debug

# Proteus 8
Electronic Board/Project Backups
Electronic Board/*.workspace
